.chess-board {
	z-index: 1;
	display: block;
	float: left;
	max-width: 80vh;
	max-height: 80vh;
	width: 70vh;
	height: 70vh;
	border-radius: 3px;
	border: 4px solid rgb(24, 43, 71);
	border-top-color: rgb(84, 126, 181);
	border-left-color: rgb(44, 80, 128);
	margin: 5px;
	box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.4);
}

.analyze>.black-square {
	background-color: rgb(88, 117, 162);
}

.board-layout {
	display: block;
	position: absolute;
	z-index: 10;
	background-color: rgba(180, 180, 180, 0.2);
	width: inherit;
	height: inherit;
	pointer-events: none;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.square {
	display: block;
	position: relative;
	float: left;
	width: calc(100%/8);
	height: calc(100%/8);
	outline-style: solid;
	outline-color: rgb(255, 255, 255);
	outline-width: 0px;
	outline-offset: 0px;
	z-index: 0;
}

.square:hover>.move-destination {
	width: 60%;
	height: 60%;
}

.square:hover>.circle {
	width: 100%;
	height: 100%;
	outline-width: calc(1.7rem);
	outline-offset: -2.3rem;
}

.black-square {
	background-color: rgb(33, 56, 92);
}

.white-square {
	background-color: rgb(233, 243, 255);
}

.white-square.last-move {
	background-color: bisque;
}

.black-square.last-move {
	background-color: rgb(255, 203, 140);
}

.piece {
	pointer-events: none;
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 100;
}

.drag {
	filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, .4))
}

.notation {
	position: absolute;
	font-size: 16px;
	z-index: 1;
}

#number {
	top: 2%;
	left: 2%;
}

#letter {
	bottom: 1%;
	right: 5%;
}

.white-square .notation {
	color: rgb(33, 56, 92);
}

.black-square .notation {
	color: rgb(192, 221, 255);
}

.choose-square {
	z-index: 100;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
	background-color: rgb(255, 255, 151);
	outline-style: solid;
	outline-color: rgb(255, 255, 255);
	outline-width: 3px;
	outline-offset: -3px;
	-webkit-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
}

.check {
	background-color: rgb(255, 95, 95);
	outline-style: solid;
	outline-color: rgb(255, 128, 128);
	outline-width: 3px;
	outline-offset: -3px;
	-webkit-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
}

.move-destination {
	width: 30%;
	height: 30%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: grey;
	border-radius: 50%;
	opacity: 50%;
	-webkit-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
	z-index: 2;
}

.circle {
	width: 80%;
	height: 80%;
	top: 50%;
	left: 50%;
	background-color: rgba(0, 0, 0, 0);
	outline-style: solid;
	outline-width: 5px;
	outline-color: grey;
	outline-offset: -5px;
	border-radius: 100%;
	-webkit-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
}

#pawn-promotion-layout {
	display: block;
	position: absolute;
	background-color: silver;
}

.nav-component-pawn-promotion {
	position: relative;
	width: 100%;
	height: 25%;
	background-color: silver;
	border-width: 0px;
	cursor: pointer;
}

.nav-component-pawn-promotion:hover {
	background-color: rgb(162, 162, 162);
}

.nav-component-pawn-promotion img {
	width: 100%;
}

.moves-layout {
	background-color: rgba(0, 0, 0, 0.2);
	width: 260px;
	height: 40px;
	display:flex;
	flex-flow: row-reverse;
	overflow-x: auto;
	overflow-y:hidden;
	align-items: center;
	justify-content: first baseline;
	position: relative;
	float: left;
	top: 0;
	margin: 0 auto;
	padding-right: 10px;
	border-radius: 10px;
}

#footer-player-layout {
	display: flex;
	position: absolute;
	left: 1%;
	bottom: 0;
	background-color: transparent;
	width: auto;
	height: 7%;
}

#flip-chess-board {
	float: left;
	background-color: transparent;
	width: 20px;
	height: 20px;
	border-width: 0px;
	border-radius: 50%;
	cursor: pointer;
}

#flip-chess-board:hover {
	opacity: 50%;
}

#reset-chess-board {
	float: left;
	font-weight: 900;
	background-color: transparent;
	height: 100%;
	border-width: 0px;
	border-radius: 50%;
	cursor: pointer;
}

#reset-chess-board:hover {
	opacity: 50%;
}

#get-fen {
	float: left;
	font-weight: 900;
	background-color: transparent;
	height: 100%;
	padding: 0pt 5pt;
	border-width: 0px;
	border-radius: 50%;
	cursor: pointer;
}

#get-fen:hover {
	opacity: 50%;
}

#set-previous-fen {
	float: left;
	font-weight: 900;
	background-color: transparent;
	height: 100%;
	padding: 0pt 5pt;
	border-width: 0px;
	border-radius: 50%;
	cursor: pointer;
}

#set-previous-fen:hover {
	opacity: 50%;
}

#set-next-fen {
	float: left;
	font-weight: 900;
	background-color: transparent;
	height: 100%;
	padding: 0pt 5pt;
	border-width: 0px;
	border-radius: 50%;
	cursor: pointer;
}

#set-next-fen:hover {
	opacity: 50%;
}
