#game-block {
	display: block;
	position: relative;
	float: left;
	margin: 20px;
	max-width: 100vw;
	max-height: 83vh;
	width: 59%;
	height: 83%;
	display: flex;
	background-color: transparent;
	min-width: 200px;
	margin: 5px;
	scroll-behavior: smooth;
	overflow: visible;
	overflow-x: visible;
	overflow-y: hidden;

	@media(max-height:450px) {
		width: calc(100vh - 44px);
		height: calc(100vh - 44px);
		margin: auto;
		padding: auto;
	}

	@media(max-height:450px) {
		width: auto;
		height: calc(100vh - 88px);
		margin: 0;
	}
}

#game-block::-webkit-scrollbar {
	width: 10px;
}

#game-block::-webkit-scrollbar-track {
	background-color: transparent;
	border-radius: 100px;
	width: 10px;
}

#game-block::-webkit-scrollbar-thumb {
	border-radius: 100px;
	background-color: rgba(192, 192, 192, 0.4);
	-webkit-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
}

#game-block::-webkit-scrollbar-thumb:hover {
	background-color: rgba(192, 192, 192, 0.7);
}

#game-block::-webkit-scrollbar-thumb:active {
	background-color: rgba(192, 192, 192, 0.507);
}
.layout-chess-board {
	display:flex;
	flex-flow:wrap;
	position: relative;
	float: left;
	margin: 0 0;
	min-width: 100%;
	height: 100%;
	@media(max-width: 80vh) {
		margin: 0;
		margin-top: 5px;
		width: auto;
		height: auto;
	}

	@media(max-height:450px) {
		width: calc(100vh - 88px);
		height: calc(100vh - 96px);
		margin: 0;
	}
}

#right-player-layout {
	display: flex;
	flex-flow: column;
	position: relative;
	top: 2%;
	float: right;
	background-color: transparent;
	width: 10%;
	height: 10%;
	padding: 5px;
}

ul {
	margin: 0;
	padding: 0;
}

#footer-player-layout {
	display: flex;
	position: absolute;
	left: 1%;
	bottom: 0;
	background-color: transparent;
	width: auto;
	height: 7%;
}

#flip-chess-board {
	float: left;
	background-color: transparent;
	width: 20px;
	height: 20px;
	border-width: 0px;
	border-radius: 50%;
	cursor: pointer;
}

#flip-chess-board:hover {
	opacity: 50%;
}

#reset-chess-board {
	float: left;
	font-weight: 900;
	background-color: transparent;
	height: 100%;
	border-width: 0px;
	border-radius: 50%;
	cursor: pointer;
}

#reset-chess-board:hover {
	opacity: 50%;
}

#get-fen {
	float: left;
	font-weight: 900;
	background-color: transparent;
	height: 100%;
	padding: 0pt 5pt;
	border-width: 0px;
	border-radius: 50%;
	cursor: pointer;
}

#get-fen:hover {
	opacity: 50%;
}

#right-block {
	display: block;
	z-index: 1;
	top: 0;
	right: 0;
	width: 40%;
	height: 100%;
	max-width: 100vw;
	position: fixed;
	background-color: rgb(70, 94, 181);
	border-radius: 0pt;
	text-align: center;
	text-decoration: none;
}

#players-info-layout {
	padding: 20%;

}

#set-previous-fen {
	float: left;
	font-weight: 900;
	background-color: transparent;
	height: 100%;
	padding: 0pt 5pt;
	border-width: 0px;
	border-radius: 50%;
	cursor: pointer;
}

#set-previous-fen:hover {
	opacity: 50%;
}

#set-next-fen {
	float: left;
	font-weight: 900;
	background-color: transparent;
	height: 100%;
	padding: 0pt 5pt;
	border-width: 0px;
	border-radius: 50%;
	cursor: pointer;
}

#set-next-fen:hover {
	opacity: 50%;
}

#moves-info-layout {
	position: relative;
	width: 100%;
	height: 25%;
	background-color: transparent;
	border-width: 0px;
	cursor: pointer;
}

#open-fen-window {
	position: absolute;
	left: 1%;
	bottom: calc(1% + 88px);
	background: rgba(0, 0, 0, 0);
	cursor: pointer;
	border-width: 0;
}

#open-fen-window:hover>b {
	color: silver;
}

#close-fen-window {
	position: relative;
	float: right;
	margin: auto;
	width: auto;
	height: auto;
	background-color: rgb(44, 80, 128);
	cursor: pointer;
	border-radius: 50%;
	border-width: 0;
	z-index: 100;
}

#close-fen-window:hover>.close {
	background-color: rgba(88, 129, 190, 0.5);
}

#fen-window-background {
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: rgba(0, 0, 0, 0.3);
}

.fen-layout {
	display: block;
	position: absolute;
	margin: auto;
	top: 50%;
	left: 50%;
	box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, .5);
	background-color: rgb(44, 80, 128);
	padding: 0.5%;
	min-width: 250px;
	width: 30%;
	height: 30%;
	border-radius: 1rem;
	transform: translate(-50%, -50%);

	@media(max-width:250px) {
		min-width: 200px;
		width: 100%;
	}
}

.fen-input {
	color: silver;
	background-color: rgba(0, 0, 0, 0.3);
	outline: none;
	margin: 0 auto;
	width: 60%;
	height: 80%;
	resize: none;
}

#button-setFEN {
	cursor: pointer;
}

#fen-error-layout {
	color: rgba(255, 68, 0, 0.482);
	-webkit-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
}

#chessboard-array-menu {
	display: flex;
	position: absolute;
	background-color: rgba(0, 36, 72, .6);
	left: 0;
	bottom: 0;
	float:left;
	max-width: 100vw;
	max-height: 100%;
	width: auto;
	height: auto;
	justify-content: center;
	align-items: center;
	padding: 15px;
	padding-left: 5%;
	padding-bottom: 1%;
	border-top-right-radius: 25px;
	@media (max-width: 220px){
		padding-left: 0;
		padding-right: 0;
		border-radius: 0;
		width: 100%;
	}
	@media (max-width: 180px){
		display: none;
	}
}

.ms-copy {
	display: block;
	position: absolute;
	border-radius: 3px;
	width: 0;
	height: 50px;
	background-color: transparent;
	font-size: small;
	color: rgba(192, 192, 192, 0.5);
	-webkit-transition: all 0.7s;
	-o-transition: all 0.7s;
	transition: all 0.7s;
}

.invisible {
	background-color: rgba(255, 255, 255, 0);
	color: rgba(255, 255, 255, 0);
}
#lng-chessboards{
	position: relative;
	float: left;
	margin: 5px;
	max-width: auto;
	/* font-size:2.5vmin; */
}
#add-chessboard{
	display:block;
	position: relative;
	float: left;
	width: 30px;
	height: 30px;
	margin: 3px;
	color: rgba(255, 255, 255, 0.3);
	font-weight: 900;
	max-width: 50%;
}
#remove-chessboard{
	display:block;
	position: relative;
	float: left;
	width: 30px;
	height: 30px;
	margin: 3px;
	color: rgba(255, 255, 255, 0.3);
	font-weight: 900;
	max-width: 50%;
}
@media (min-width: 1000px){
	#game-block{
		height: 83%;
	}
}
@media (max-width: 1000px) {
	#right-block {
		display: none;
	}

	#right-player-layout {
		display: block;
		position: absolute;
		top:unset;
		left: 400px;
		bottom: 1%;
		width: 35vw;
		height: 20px;
		padding: 15px;
	}
	#footer-player-layout {
		margin: 0;
		padding: 0;
	}

	#game-block {
		margin: 0;
		margin-bottom: 10px;
		width: 100vw;
		height: 120vw;
		padding: 0;
	}

	.layout-chess-board {
		min-width: 100%;
		max-height: 110%;
	}

}
@media (max-width: 74vh){
	.chess-board{
		max-width: 100vw;
		max-height: 100vw;
		box-shadow: none;
		border-radius: 5px;
		box-shadow: none;
		margin: auto;
		margin-top: 0;
		width: calc(100vw - 8px);
		height: calc(100vw - 8px);
		border-radius: 5px;
	}
	#right-player-layout {
		left: unset;
		right: 5px;
		padding: 2%;
		padding-bottom: 0;
		margin: 0;
		float: right;
	}
	#flip-chess-board {
		display:block;
		max-width: 20px;
		max-height: 20px;
		width: 5vw;
		height: 5vw;
		margin-right: 5px;
	}
	#flip-chess-board>img {
		display:block;
		max-width: 20px;
		width: 5vw;
		height: 5vw;
	}
	
	#reset-chess-board {
		display:block;
		height: 5vw;
		font-size: 4vw;
		line-height: normal;
	}
	
	#get-fen {
		display:block;
		height: 5vw;
		font-size: 4vw;
		line-height: normal;
	}