#game-block {
	display: block;
	position: relative;
	float: left;
	margin: 20px;
	max-width: 100vw;
	max-height: 83vh;
	width: 100vw;
	height: 120vw;
	padding: 0;
	display: flex;
	background-color: transparent;
	min-width: 200px;
	margin: 5px;
	scroll-behavior: smooth;
	overflow: visible;
	overflow-x: visible;
	overflow-y: hidden;

	@media(max-height:450px) {
		width: calc(100vh - 44px);
		height: calc(100vh - 44px);
		margin: auto;
		padding: auto;
	}
}

.invisible {
	background-color: rgba(255, 255, 255, 0);
	color: rgba(255, 255, 255, 0);
}
#game-block::-webkit-scrollbar {
	width: 10px;
}

#game-block::-webkit-scrollbar-thumb {
	border-radius: 100px;
	background-color: rgba(192, 192, 192, 0.4);
	-webkit-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
}

#game-block::-webkit-scrollbar-thumb:hover {
	background-color: rgba(192, 192, 192, 0.7);
}

#game-block::-webkit-scrollbar-thumb:active {
	background-color: rgba(192, 192, 192, 0.507);
}

ul {
	margin: 0;
	padding: 0;
}

#right-block {
	display: flex;
	flex-flow: column;
	z-index: 1;
	top: 0;
	right: 0;
	min-width: 400px;
	width: 40%;
	height: 100%;
	max-width: 100vw;
	position: fixed;
	background-color: rgba(70, 94, 181, 1);
	border-radius: 0pt;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#right-block.invisible {
	background-color: rgba(70, 94, 181, 0);
	pointer-events: none;
	
}

.invisible>#open-fen-window{
	color: rgba(0,0,0,0);
}

#players-info-layout {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	min-width: 300px;
	width: 60%;
	height: 50%;
	background-color: rgba(114, 159, 255, 0.5);
	border-radius: 20px;
}

#players-info {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 20%;
	padding: 10px;
	margin: 10px;
	justify-content: center;
	align-items: center;
}

.players-avatar {
	display: block;
	width: 60px;
	height: 60px;
	background-color: rgba(129, 255, 211, 0.3);
	border-radius: 10px;

	margin: 5px;
}

.players-avatar>img {
	width: inherit;
	height: inherit;
}

.player-layout {
	display: flex;
	flex-flow: column;
	width: 50%;
	height: 100%;
}

.player-info {
	display: flex;
	position: relative;
	float: left;
	flex-flow: row;
	justify-content: center;
	align-items: center;
	width: auto;
	height: 80%;
}

.player-info#black {
	position: relative;
	float: right;
	flex-flow: row-reverse;
}

#black {
	color: silver;
}

.player-name {
	display: flex;
	flex-flow: column;
	font-size: 90%;
	height: inherit;
	justify-content: center;
	align-items: center;
}

.capture-pieces-score {
	flex-direction: row;
	margin-top: 10px;
	width: 100%;
	height: 100px;
	justify-content: center;
}

#open-fen-window {
	position: absolute;
	left: 1%;
	bottom: 5%;
	background: rgba(0, 0, 0, 0);
	color: rgba(0,0,0,1);
	cursor: pointer;
	border-width: 0;
}

#open-fen-window:hover>b {
	color: silver;
}

#close-fen-window {
	position: relative;
	float: right;
	margin: auto;
	width: auto;
	height: auto;
	background-color: rgb(44, 80, 128);
	cursor: pointer;
	border-radius: 50%;
	border-width: 0;
	z-index: 100;
}

#close-fen-window:hover>.close {
	background-color: rgba(88, 129, 190, 0.5);
}

#fen-window-background {
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: rgba(0, 0, 0, 0.3);
}

.fen-layout {
	display: block;
	position: absolute;
	margin: auto;
	top: 50%;
	left: 50%;
	box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, .5);
	background-color: rgb(44, 80, 128);
	padding: 0.5%;
	min-width: 250px;
	width: 30%;
	height: 30%;
	border-radius: 1rem;
	transform: translate(-50%, -50%);

	@media(max-width:250px) {
		min-width: 200px;
		width: 100%;
	}
}

.fen-input {
	color: silver;
	background-color: rgba(0, 0, 0, 0.3);
	outline: none;
	margin: 0 auto;
	width: 60%;
	height: 80%;
	resize: none;
}

#button-setFEN {
	cursor: pointer;
}

#fen-error-layout {
	color: rgba(255, 68, 0, 0.482);
	-webkit-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
}

#chessboard-array-menu {
	display: flex;
	position: absolute;
	background-color: rgba(0, 36, 72, .6);
	left: 0;
	bottom: 0;
	float: left;
	max-width: 100vw;
	max-height: 100%;
	width: auto;
	height: auto;
	justify-content: center;
	align-items: center;
	padding: 15px;
	padding-left: 5%;
	padding-bottom: 1%;
	border-top-right-radius: 25px;

	@media (max-width: 220px) {
		padding-left: 0;
		padding-right: 0;
		border-radius: 0;
		width: 100%;
	}

	@media (max-width: 180px) {
		display: none;
	}
}

.ms-copy {
	display: block;
	position: absolute;
	border-radius: 3px;
	width: 0;
	height: 50px;
	background-color: transparent;
	font-size: small;
	color: rgba(192, 192, 192, 0.5);
	-webkit-transition: all 0.7s;
	-o-transition: all 0.7s;
	transition: all 0.7s;
}

#lng-chessboards {
	position: relative;
	float: left;
	margin: 5px;
	max-width: auto;
	/* font-size:2.5vmin; */
}

#add-chessboard {
	display: block;
	position: relative;
	float: left;
	width: 30px;
	height: 30px;
	margin: 3px;
	color: rgba(255, 255, 255, 0.3);
	font-weight: 900;
	max-width: 50%;
}

#remove-chessboard {
	display: block;
	position: relative;
	float: left;
	width: 30px;
	height: 30px;
	margin: 3px;
	color: rgba(255, 255, 255, 0.3);
	font-weight: 900;
	max-width: 50%;
}

@media (max-width: 1200px) {

	#right-player-layout {
		display: block;
		position: absolute;
		top: unset;
		left: 340px;
		bottom: 0;
		width: 120px;
		height: 20px;
		padding: 15px 0 ;
	}

	#game-block {
		margin: 0;
		margin-bottom: 10px;
		padding: 0;
	}

	.layout-chess-board {
		min-width: 100%;
		max-height: 110%;
	}

	.board-layout {
		-webkit-transition: none;
		-o-transition: none;
		transition: none;
	}
}
@media (max-width: 74vh) {
	.chess-board {
		max-width: 100vw;
		max-height: 100vw;
		box-shadow: none;
		border-radius: 5px;
		box-shadow: none;
		margin: auto;
		margin-top: 0;
		width: calc(100vw - 8px);
		height: calc(100vw - 8px);
		border-radius: 5px;
	}

	#right-block {
		width: 100vw;
		min-width:auto;
		-webkit-transition: none;
		-o-transition: none;
		transition: none;
	}

	.layout-chess-board {
		display: block;
	}

	#right-player-layout {
		width: auto;
		left: unset;
		right: 0;
		bottom: 1%;
		padding: 0;
		margin: 0;
	}

	#flip-chess-board {
		display: block;
		max-width: 20px;
		max-height: 20px;
		width: 4vw;
		height: 4vw;
		margin-right: 10px;
	}

	#flip-chess-board>img {
		display: block;
		max-width: 20px;
	}

	#reset-chess-board {
		display: block;
		height: 4vw;
		font-size: 3vw;
		line-height: 200%;
	}

	#get-fen {
		display: block;
		height: 4vw;
		font-size: 3vw;
		line-height: 200%;
	}

	#footer-player-layout {
		width: 70%;
		height: 30px;
		margin: 0;
		padding: 0;
	}

	#game-block {
		height: 125vw;
	}
	.lng-language{
		display:none;
	}
}