#game-block {
	float:left;
	text-align: center;
	margin: 0;
	width:auto;
	height:auto;
	box-sizing: border-box;
	@media(max-width: 560px){
		margin: auto;
		width: 100%;
		padding: 0;
	}
}
#layout-chess-board{
	margin:20px;
}
#right-player-layout{
	display: none;
	background-color: transparent;
	float: left;
	width: 5%;
	height: 100%;
	@media(min-width: 950px){
		display: block;
	}
}
#footer-player-layout{
	background-color: transparent;
	float: left;
	width: 100%;
	height: 5%;
}
.flip-chess-board{
	float:left;
	display:inherit;
	background-color:transparent;
	height: 100%;
	padding: 0pt 5pt;
	border-width: 0px;
	border-radius: 50%;
	cursor: pointer;
}
.flip-chess-board:hover{
	opacity: 50%;
}
.reset-chess-board{
	float: left;
	display:inherit;
	font-weight: 900;
	background-color:transparent;
	height: 100%;
	padding: 0pt 5pt;
	border-width: 0px;
	border-radius: 50%;
	cursor: pointer;
}
.reset-chess-board:hover{
	opacity: 50%;
}
.get-fen{
	float: left;
	display: none;
	font-weight: 900;
	background-color:transparent;
	height: 100%;
	padding: 0pt 5pt;
	border-width: 0px;
	border-radius: 50%;
	cursor: pointer;
	@media(min-width: 950px){
		display: block;
	}
}
.get-fen:hover{
	opacity: 50%;
}
#right-block{
	z-index: 1;
	right: 0%;
	width:40%;
	height: 100%;
	max-width: 100vw;
	position: fixed;
	background-color: rgb(70, 94, 181);
	border-radius: 0pt;
	text-align: center;
	text-decoration: none;
}
#players-info-layout{
	padding: 20%;
	
}
#set-previous-fen{
	float: left;
	font-weight: 900;
	background-color:transparent;
	height: 100%;
	padding: 0pt 5pt;
	border-width: 0px;
	border-radius: 50%;
	cursor: pointer;
}
#set-previous-fen:hover{
	opacity: 50%;
}
#set-next-fen{
	float: left;
	font-weight: 900;
	background-color:transparent;
	height: 100%;
	padding: 0pt 5pt;
	border-width: 0px;
	border-radius: 50%;
	cursor: pointer;
}
#set-next-fen:hover{
	opacity: 50%;
}
#moves-info-layout{
	position:relative;
	width: 100%;
	height: 25%;
	background-color: transparent;
	border-width: 0px;
	cursor: pointer;
}
#open-fen-window{
	position: absolute;
	left: 1%;
	bottom: calc(1% + 88px);
	background: rgba(0, 0, 0, 0);
	cursor: pointer;
	border-width:0;
}
#open-fen-window:hover> b{
	color: silver;
}
#close-fen-window{
	position: relative;
	float:right;
	margin: auto;
	width: auto;
	height: auto;
	background-color: rgb(44, 80, 128);
	cursor: pointer;
	border-radius: 50%;
	border-width: 0;
	z-index: 100;
}
#close-fen-window:hover>.close{
	background-color: rgba(88, 129, 190, 0.5);
}
#fen-window-background{
	position: fixed;
	z-index: 3;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
}
.fen-layout{
	display: block;
	position: absolute;
	margin: auto;
	top: 50%;
	left: 50%;
	box-shadow:0 0.5rem 1.5rem rgba(0,0,0,.5);
	background-color: rgb(44, 80, 128);
	padding: 0.5%;
	width: 30%;
	height: 30%;
	border-radius: 1rem;
	transform: translate(-50%, -50%);
}
.fen-input{
	color:silver;
	background-color: rgba(0, 0, 0, 0.3);
	outline: none;
	margin:auto;
	width:60%;
	height:80%;
	resize: none;
}
#button-setFEN{
	cursor: pointer;
}
#fen-error-layout{
	color: rgba(255, 68, 0, 0.482);
	-webkit-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
}
#right-block[hidden] {
  display: none;
  
  @media (min-width: 920px) {
    display: block;
  }
}
