#main-block {
	min-height: 70vh;
	margin: 20px;
	width: 60%;
	padding: 5px;
	color: rgb(150, 197, 255);
}

#header-name {
	margin: 5% 10px;
	text-shadow: 2px 2px 3px black;
}

#rules-list {
	background: rgb(37, 88, 146);
	border-radius: 5px;
	box-shadow: 6px 6px 10px rgba(0, 0, 0, .5);
	padding: 25px;
	padding-left: 50px;
}

#rules-list li {
	list-style-type: disc;
}

@media (max-width: 1100px) {
	#main-block {
		width: 90%;
		margin: auto;
		padding: 5px;
	}
}
@media (max-width: 500px) {
	#main-block {
		width: 100%;
		margin: 0;
		padding: 0;
	}
	#rules-list {
		margin: 0;
		border-radius: 3px;
		box-shadow:none;
		padding: 20px;
		padding-left: 35px;
	}
}