#main-block{
	width: 90%;
	margin: auto;
	padding: 5px;
	color: rgb(150, 197, 255);
	@media (min-width: 1000px) {
		margin: 20px;
		width: 60%;
	}
}
#header-name{
	text-shadow: 2px 2px 3px black;
}
#rules-list{
	background:rgb(37, 88, 146);
	border-radius: 5px;
	box-shadow: 5px 0px 5px black;
	padding:25px;
	padding-left: 50px;
}
#rules-list li{
	list-style-type: disc;
}
.footer-block{
	float: left;
	position: relative;
}