
#right-block{
	right: 0%;
	width:40%;
	height: 100%;
	position: fixed;
	background-color: rgb(37, 88, 146);
	border-left: 4px;
	border-color: rgb(0, 70, 100);
	border-radius: 0pt;
	text-align: center;
	text-decoration: none;
}